*.html
*.pdf
*.redxml
*.swp
*.txt
*.xml
*.upload
*~
.tags
/.gems/
/.refcache
/.targets.mk
/.venv/
/.vscode/
/lib
/bin
/node_modules/
/versioned/
Gemfile.lock
archive.json
package-lock.json
!requirements.txt
